<!DOCTYPE html>
<html>
<head>
<title>Login/Sign Up</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">

<h2>AI Ocean Data Platform</h2>

<div class="nav-links">
<a href="/">Home</a>
<a href="/submit">Submit</a>
<a href="/dashboard">Dashboard</a>
<a href="/about">About</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
</div>

</div>

<div class="form-section">

<h2>Login</h2>

<form action="/login_user" method="POST">

<input type="email" name="email" placeholder="Email Address" required>

<input type="password" name="password" placeholder="Password" required>

<button class="btn">Login</button>

</form>
</form>

<br>

<h2>Sign Up</h2>

<form action="/signup" method="POST">

<input type="text" name="name" placeholder="Full Name" required>

<input type="email" name="email" placeholder="Email Address" required>

<input type="password" name="password" placeholder="Create Password" required>

<button class="btn">Sign Up</button>

</form>
</form>

</div>

</body>
</html>